@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist";
  background: #0e0e0e;
}
body a {
  text-decoration: none;
  color: black;
}

#page {
  width: 100%;
  height: 100vh;
  background: #0e0e0e;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#page a {
  text-decoration: none;
}

header {
  width: 90%;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -35px;
}
header .logo {
  width: 130px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
header nav {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header nav .menuNav {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
}
header nav .menuNav ul {
  width: 30%;
  min-width: 530px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 5px;
}
header nav .menuNav ul li {
  color: white;
  list-style: none;
}
header nav .menuNav ul li a {
  padding: 14px 35px;
  border-radius: 40px;
  font-weight: 500;
  color: white;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.0666666667);
  transition: 0.1s ease-in-out;
}
header nav .menuNav ul li a:hover {
  background: rgba(255, 255, 255, 0.2196078431);
}
header nav .menuNav ul li .actif {
  background: white;
  color: black;
}
header nav .recherche {
  width: 20%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 200px;
}
header nav .recherche form {
  width: 100%;
  height: 47px;
  margin: auto;
  display: flex;
  align-items: center;
}
header nav .recherche form input[type=text] {
  width: 85%;
  height: 47px;
  border: none;
  background: none;
  color: white;
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form input:focus {
  outline: none;
}
header nav .recherche form input::-moz-placeholder {
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form input::placeholder {
  font-family: "Urbanist";
  text-align: center;
}
header nav .recherche form button {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  background: white;
  border-radius: 200px;
  overflow: hidden;
  cursor: pointer;
}
header nav .recherche form button img {
  width: 90%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .profilOUt {
  width: 30%;
  height: 47px;
  display: flex;
  align-items: center;
}
header nav .profilOUt .profil {
  width: 40%;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .profilOUt .profil .imageProfile {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  overflow: hidden;
}
header nav .profilOUt .profil .imageProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .profilOUt .profil .infoProfile {
  width: auto;
  height: 47px;
  color: #ffffff;
}
header nav .profilOUt .profil .infoProfile h3 {
  font-size: 1rem;
  margin: 3px 0px;
}
header nav .profilOUt .profil .infoProfile p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin: 0;
}
header nav .profilOUt .logOut {
  width: 30%;
  height: 47px;
  display: flex;
  align-items: center;
  background: #ffc887;
  justify-content: space-evenly;
  border-radius: 15px;
}
header nav .profilOUt .logOut .text {
  width: 80%;
  height: 47px;
  display: flex;
  align-items: center;
}
header nav .profilOUt .logOut a {
  font-weight: 600;
  color: #0e0e0e;
  font-size: 1rem;
}
header nav .profilOUt .logOut .img {
  width: 28px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header nav .profilOUt .logOut .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  color: white;
  text-align: center;
  font-size: 4rem;
}

main h3 {
  color: white;
}

.save {
  width: 80%;
  height: auto;
  min-height: 200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.save form {
  width: 40%;
  min-width: 300px;
  margin: auto;
  color: #ffffff;
  font-family: "Urbanist";
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  /* Style de base pour les éléments de formulaire */
  /* Style pour les cases à cocher et les boutons radio */
  /* Style pour les boutons */
  /* Style pour les boutons de réinitialisation */
  /* Style lorsque le curseur passe sur un élément */
  /* drag file */
}
.save form input[type=text],
.save form input[type=password],
.save form input[type=email],
.save form input[type=search],
.save form input[type=number],
.save form input[type=url],
.save form input[type=date],
.save form input[type=time],
.save form input[type=color],
.save form textarea,
.save form select {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #1c2830;
  color: white;
  font-family: "poppins";
  margin: auto;
  box-sizing: border-box;
}
.save form input[type=text]::-moz-placeholder, .save form input[type=password]::-moz-placeholder, .save form input[type=email]::-moz-placeholder, .save form input[type=search]::-moz-placeholder, .save form input[type=number]::-moz-placeholder, .save form input[type=url]::-moz-placeholder, .save form input[type=date]::-moz-placeholder, .save form input[type=time]::-moz-placeholder, .save form input[type=color]::-moz-placeholder, .save form textarea::-moz-placeholder, .save form select::-moz-placeholder {
  font-family: "poppins";
}
.save form input[type=text]::placeholder,
.save form input[type=password]::placeholder,
.save form input[type=email]::placeholder,
.save form input[type=search]::placeholder,
.save form input[type=number]::placeholder,
.save form input[type=url]::placeholder,
.save form input[type=date]::placeholder,
.save form input[type=time]::placeholder,
.save form input[type=color]::placeholder,
.save form textarea::placeholder,
.save form select::placeholder {
  font-family: "poppins";
}
.save form input[type=text]:focus,
.save form input[type=password]:focus,
.save form input[type=email]:focus,
.save form input[type=search]:focus,
.save form input[type=number]:focus,
.save form input[type=url]:focus,
.save form input[type=date]:focus,
.save form input[type=time]:focus,
.save form input[type=color]:focus,
.save form textarea:focus,
.save form select:focus {
  outline: none;
  border: 1px solid violet;
}
.save form input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin: 10px 0;
  background-color: transparent;
}
.save form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: -10px;
  cursor: pointer;
}
.save form input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5px;
}
.save form input[type=range]:focus {
  outline: none;
}
.save form input[type=checkbox],
.save form input[type=radio] {
  margin-right: 5px;
}
.save form input[type=submit],
.save form input[type=reset] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save form input[type=submit] :hover,
.save form input[type=reset] :hover {
  background-color: rgba(84, 108, 168, 0.0784313725);
  border: 1px solid;
}
.save form input[type=reset] {
  background-color: #f44336;
}
.save form input:hover,
.save form textarea:hover,
.save form select:hover {
  border-color: #888;
}
@media (max-width: 1460px) {
  .save form .drop-zone-section {
    width: -moz-max-content;
    width: max-content;
  }
}
.save form .drop-zone-section {
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 25px;
  width: 620px;
  height: auto;
  min-width: 620px;
}
.save form .drop-zone-section input[type=file] {
  padding: 5px 35px 5px 10px;
  line-height: 2rem;
  font-size: 14px;
  border-radius: 25px;
  border: 1px #000000 solid;
  transition: 0.3s ease-in-out;
  background: none;
  display: block;
  color: #000;
}
.save form .drop-zone-section input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  padding: 8px 12px;
  color: #ffffff;
  background: #000;
  cursor: pointer;
  border-radius: 25px;
  content: "choose file";
}
.save form .drop-zone-section .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: -10px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  height: 150px;
  /* padding: 20px; */
  border-radius: 10px;
  border: 2px dashed #000000;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6784313725), #eaeaea);
}
.save form .drop-container:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6784313725) 20%, #eaeaea);
}
@media (max-width: 1460px) {
  .save form .drop-zone-section {
    min-width: 200px;
    display: flex;
  }
  .save form .drop-zone-section input[type=file] {
    width: 50%;
  }
}
.save div {
  width: 30%;
  height: 500px;
}/*# sourceMappingURL=save.css.map */